rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Products and Settings can be read by anyone, but modified only by authenticated admins
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    match /settings/{settingId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Orders can be created by anyone (during checkout), but read/modified only by authenticated admins
    match /orders/{orderId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }

    // Subscribers can be created or deleted by customers (newsletter subscribe/unsubscribe), managed by admins
    match /subscribers/{subscriberId} {
      allow create, delete: if true;
      allow read, update: if request.auth != null;
    }

    // Newsletters can be read and modified only by authenticated admins
    match /newsletters/{newsletterId} {
      allow read, write: if request.auth != null;
    }
  }
}
